apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook
  namespace: api-services
  labels:
    app: webhook
spec:
  selector:
    matchLabels:
      app: webhook
  template:
    metadata:
      labels:
        app: webhook
    spec:
      containers:
      - name: webhook
        image: webhook-image
        ports:
        - containerPort: 10001
---
apiVersion: v1
kind: Service
metadata:
  name: webhook
  namespace: api-services
  labels:
    app: webhook
spec:
  type: ClusterIP
  selector:
    app: webhook
  ports:
    - name: http
      port: 10001
      protocol: TCP
      targetPort: 10001
